<div class="nav">
    <ul class="nav-grp">
        <a href=""> <li class="nav-items">J4Y</li></a>
        <a href=""> <li class="nav-items">Home</li></a>
    </ul>
    <ul class="nav-grp">
        <a href=""> <li class="nav-items">Profile</li> </a>
       <a href=""><li class="nav-items">Sign-up</li></a>
        <a href=""><li class="nav-items">Sign-in</li></a>
    </ul>
</div>